/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   align-items: center;
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.ytv {
   display: flex;
   flex-wrap: wrap;
}
.ytv__bottom {
   display: flex;
   flex-wrap: wrap;
   gap: .5em;
}
.ytv__left {
   align-items: center;
   display: flex;
   flex-shrink: 1;
   gap: .5em;
}
.ytv__right {
   justify-content: right;
   display: flex;
   flex-shrink: 1;
   gap: 1em;
   flex-grow: 1;
}
.profile {
   display: flex;
   gap: 1em;
}
.profile__text {

}
.icon {

}
.btn--flex {
    display: flex;
}